body {
    background-color: #282C34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  .button {
    background-color: white; 
    border-radius: 4px;
    color: #282C34;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin: 8px 0;
  }

  .button:hover {
    background-color: #4169E1; /* Green */
    color: white;
  }

  .deleteButton {
    background-color: white; 
    border-radius: 4px;
    color: #282C34;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin: 8px 0;
  }

  .deleteButton:hover {
    background-color: #FF0000;
    color: white;
  }

  input {
    width: 20%;
    padding: 9px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .link {
    color: white;
  }

  .custom-file-input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .custom-file {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .uploadButton {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  img{
  border: 1px solid white;
  border-radius: 4px;
  margin: auto;
  padding: 1px;
  width: 5%;
  }